
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <circle th:fragment="marker"
            th:each="point: ${map.points}"
            th:attr="cx=${point.x}, cy=${point.y}"
            r="5"
            data-test-id="location"
            fill="red">
    </circle>
    <text text-anchor="middle"
          th:fragment="marker"
          th:each="point: ${map.points}"
          th:text="${point.name}"
          th:attr="x=${point.x}, y=${point.y} + 20">
    </text>
</body>
</html>
