<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="map.css"/>
</head>
<body>
<svg xmlns='http://www.w3.org/2000/svg' th:width="${map.WIDTH}" th:height="${map.HEIGHT}">
    <rect x="0" y="0" th:width="${map.WIDTH}" th:height="${map.HEIGHT}"  stroke="black" fill="white" stroke-width="2"/>
    <g th:replace="fragments/marker :: marker"></g>
    <g th:replace="fragments/party :: party"></g>
</svg>
<panel-wrapper>
    <movement-panel>
        <form method="post" action="/log-entries/destination">
            DESTINATION
            <select name="destinationName">
                <option th:each="destination: ${map.getPoints()}"
                        th:value="${destination.getName()}"
                        th:text="${destination.getName()}"
                        data-test-id="destination">
                </option>
            </select>
            <br>
            Destination Placeholder
            <br>
            <label>
                Move
                <input class="text-field" type="text" name="deltaHours" required/>
                hours toward (DESTINATION)
            </label>
            <input class="go-button" type="submit" value="GO!"/>
        </form>
        <form method="post" action="/log-entries/free">
            Move
            <select name="direction">
                <option value="N">North</option>
                <option value="NE">North-East</option>
                <option value="E">East</option>
                <option value="SE">South-East</option>
                <option value="S">South</option>
                <option value="SW">South-West</option>
                <option value="W">West</option>
                <option value="NW">North-West</option>
            </select>
            <label>
                for
                <input class="text-field" type="text" name="deltaHours" required/>
                hours
            </label>
            <input class="go-button" type="submit" value="GO!"/>
        </form>
        <form method="post" action="/log-entries/delete-top-entry">
            <input type="submit" value="UNDO MOVE">
        </form>
    </movement-panel>
    <tool-panel>
        Create New Location
        <form method="post" action="/locations/relative">
            <input type="text" name="newLocationName" required>
            is
            <input class="text-field" type="text" name="distance" required/>
            miles
            <select name="direction">
                <option value="N">North</option>
                <option value="NE">North-East</option>
                <option value="E">East</option>
                <option value="SE">South-East</option>
                <option value="S">South</option>
                <option value="SW">South-West</option>
                <option value="W">West</option>
                <option value="NW">North-West</option>
            </select>
            <br>
            from
            <select name="origin">
                <option th:each="origin: ${map.getPoints()}"
                        th:value="${origin.getName()}"
                        th:text="${origin.getName()}">
                </option>
            </select>

            <input type="submit" value="ADD LOCATION">
        </form>
    </tool-panel>
    <log-panel>
        <elapsed-time th:text="${travelLog.getElapsedTime()}"/>
        <ul>
            <li th:each="movement: ${travelLog.getFormattedTravelLog()}" th:text="${movement}"></li>
        </ul>
    </log-panel>
</panel-wrapper>
</body>
</html>