<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="map.css"/>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", () => {
        const storedPanel = window.localStorage.getItem("panel");
        if(storedPanel != null) {document.getElementById(storedPanel).style.display = "block"};
        [...document.getElementsByClassName("tab-button")].map((el) => el.addEventListener("click", (e) => {
          e.preventDefault();
          const panels = [...document.getElementsByClassName("tab-button")].map((el) => el.dataset.panel);
          panels.map((id) => document.getElementById(id))
            .map((el) => el.style.display = "none");
          document.getElementById(e.target.dataset.panel).style.display = "block";
          window.localStorage.setItem("panel", e.target.dataset.panel);
        }))
      })
    </script>
</head>
<body>
<svg xmlns='http://www.w3.org/2000/svg' th:width="${map.WIDTH}" th:height="${map.HEIGHT}">
    <rect x="0" y="0" th:width="${map.WIDTH}" th:height="${map.HEIGHT}" stroke="black" fill="black" stroke-width="2"/>
    <defs th:replace="fragments/fog-of-war :: filters"></defs>
    <g class="fog-of-war">
        <rect x="0" y="0" th:width="${map.WIDTH}" th:height="${map.HEIGHT}" fill="transparent"/>
        <polygon th:replace="fragments/fog-of-war :: convex-hull(colour='#222', width='225')"/>
        <polygon th:replace="fragments/fog-of-war :: convex-hull(colour='#666', width='175')"/>
        <polygon th:replace="fragments/fog-of-war :: convex-hull(colour='#aaa', width='125')"/>
        <polygon th:replace="fragments/fog-of-war :: convex-hull(colour='#eee', width='75')"/>
        <polygon th:replace="fragments/fog-of-war :: convex-hull(colour='#fff', width='25')"/>
    </g>
    <g th:replace="fragments/marker :: marker"></g>
    <g th:replace="fragments/party :: party"></g>
    <g th:replace="fragments/label :: label"></g>
</svg>
<panel-wrapper>
    <ul>
        <li>
            <a href="#" class="tab-button" data-panel="location-tools-panel">New Location</a>
        </li>
        <li>
            <a href="#" class="tab-button" data-panel="movement-panel">Movement</a>
        </li>
        <li>
            <a href="#" class="tab-button" data-panel="log-panel">Travel Log</a>
        </li>
    </ul>
    <tool-panel th:replace="fragments/movement-panel :: movement-panel"></tool-panel>
    <tool-panel th:replace="fragments/location-tools-panel :: location-tools-panel"></tool-panel>
    <tool-panel th:replace="fragments/log-panel :: log-panel"></tool-panel>
</panel-wrapper>
</body>
</html>